@font-face {
  font-family: 'Montserrat-c';
  src: url('../assets/fonts/Montserrat-Regular-c.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-c';
  src: url('../assets/fonts/Montserrat-Medium-c.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-c';
  src: url('../assets/fonts/Montserrat-Bold-c.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}