@use "./variables" as *;

@mixin min-max($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center
}

@mixin btn-base($bg, $color, $brd) {
  background: $bg;
  color: $color;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius:  $brd;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.03);
    background-color: $river-bed;
    color: $white;
  }
}


@mixin btn-size($font-size, $p-top, $p-right, $p-bottom, $p-left) {
  font-size: $font-size;
  padding: $p-top $p-right $p-bottom $p-left;
}



