@use "../../styles/variables" as *;

.title {
  font-family: "Montserrat-c", sans-serif;
  font-size: 3rem;
  line-height: 125%;
  letter-spacing: -0.02em;  
}

.title.xl {
  font-weight: 700;
  color: $white;
}

.title.lg {
  text-align: center;
  font-weight: 500;
  color: $outer-space;
}


@media (max-width: 1024px)  {
  .title {
      font-size: 1.95rem;
  }
}

@media (max-width: 460px)  {
  .title {
     font-size: 1.5rem;
  }
}