.header {
  padding: 2.313rem 0 2.938rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 1.938rem;

    &__container {
      gap: 2rem;
    }

  }
}

@media (max-width: 460px) {
  .header {
    padding: 1.313rem 0 0.938rem 0;

    &__container {
      gap: 0.75rem;
      padding: 0.5rem 0;
    }

  }
}
