@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  padding-bottom: 28.75rem;

  &__container {
    max-width: 40.438rem;
    margin-top: 11.75rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &Span {
      padding: 0.625rem 1.125rem;
      font-size: 0.688rem;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $outer-space;
      background-color: $white-smoke;
      width: 8.25rem;
    }

    &Title {
      font-weight: 700;
      font-size: 3rem;
      line-height: 125%;
      letter-spacing: -0.02em;
      color: $white;
    }

    &Description {
      font-size: 1.5rem;
      line-height: 143%;
      color: $white;

    }
  }

  &__action {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;

    &Button {
      @include btn($naples-yellow, $outer-space, 1.125rem, 1.875rem, 3.125rem, 1.875rem, 3.125rem, 0.5rem);
      font-weight: 500;
      text-align: center;
    }

    &Subtext {
      font-size: 0.938rem;
      line-height: 160%;
      color: $white;
    }
  }

}

@media (max-width: 1024px) {
  .about {
    padding-bottom: 20rem;

    &__container {
      max-width: 24rem;
      margin-top: 2rem;
      gap: 2rem;
    }

    &__info {
      gap: 1rem;

      &Span {
        padding: 0.5rem 0.875rem;
        font-size: 0.6rem;
        width: 7rem;
      }

      &Title {
        font-size: 1.8rem;
      }

      &Description {
        font-size: 1.25rem;
      }
    }

    &__action {
      gap: 1rem;

      &Button {
        font-size: 0.875rem;
        padding: 0.938rem 2.5rem;
      }

      &Subtext {
        font-size: 0.813rem;
      }
    }
  }
}

@media (max-width: 460px) {
  .about {
    padding-bottom: 8rem;

    &__container {
      max-width: 16rem;
      margin-top: 0.75rem;
      gap: 1rem;
    }

    &__info {
      gap: 0.4rem;

      &Span {
        padding: 0.25rem 0.4rem;
        font-size: 0.45rem;
        width: 4.5rem;
      }

      &Title {
        font-size: 1.1rem;
      }

      &Description {
        font-size: 0.775rem;
      }
    }

    &__action {
      gap: 0.4rem;

      &Button {
        font-size: 0.7rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0.2rem;
      }

      &Subtext {
        font-size: 0.625rem;
        line-height: 120%;
      }
    }
  }
}