@use '../../styles/core' as *;

.background {
  background: url(../../assets/images/background.png) no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: fit-content;

   position: relative;
  overflow: hidden;

  
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%; 
  //    background: url(../assets/images/about-background.png) no-repeat;
  //   background-size: contain;
  //   background-position: center;
  //   z-index: 1;
  // }

}

// @media (max-width: 460px)   {
//   .background {
//        &::before {
//       width: 100%;
//       height: 100%;
//       background-size: cover;
//     }
// }