@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.header__item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  &--address {
    img {
      display: inline-block;
      width: 1.063rem;
      height: 1.438rem;
      padding: 0.188rem 0;
    }

    &-link {
      color: $white;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &--tel {
    gap: 0.938rem;

    img {
      display: inline-block;
      width: 1.188rem;
      height: 1.188rem;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-link {
      color: $white;
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 152%;
    }
  }
}


@media (max-width: 1024px) {
  .header__item {
    &--address,
    &--tel {
      img {
        width: 9%;
        height: auto;
      }

      &-link {
        font-size: 0.75rem;
      }
    }

    gap: 0.75rem;
  }


}

@media (max-width: 460px) {
  .header__item {
    &--address,
    &--tel {
      img {
        width: 6%;
        height: auto;
      }

      &-link {
        font-size: 0.55rem;
      }
    }

    gap: 0.5rem;
  }

  
}
